
.productcss
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    

}
.productcss > div
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
img 
{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.demodiv
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    text-align: center;
    font-size: larger;
}
h3
{
    color: plum;
    font-size: x-large;
}