.product_wrap {
    padding:25px;
    display: flex;
    margin-top: 20px;


    button{
        font-size: small;
    }
}

.proizvod_opis {
    margin-inline: 50px;
    font-size: larger;
    line-height: 40px;
    border-radius: 50px;
    padding: 50px;
    
}