
.kontakti
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.social_contacts a
{
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}

input, textarea, button
{
    border-radius: 25px;
}

.icon 
{       width: 75px;
        height: 75px;
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
}

.icon:hover 
{
    width: 110px;
    height: 110px;
}

.podatci
{
    font-size: xx-large;
}

form
{
    font-size: xx-large;
}
input
{
    height: 35px;
    width: 150px;
}

input::placeholder
{
    color: red;
}

button
{
    height: 35px;
    width: 100px;
    background-color: plum;
    color: white;
    border-radius: 25px;
}
button:hover
{
    height: 45px;
    width: 150px;
    font-size: 25px;
    color: black;
}

img
{
    height: 850px;
    width: 850px;
}

main
{
    margin-bottom: 20px;
}

#fb:hover 
        {
        filter: invert(35%) sepia(64%) saturate(849%) hue-rotate(187deg) brightness(90%) contrast(78%);
        }

#tw:hover 
        {
        filter: invert(49%) sepia(45%) saturate(1822%) hue-rotate(176deg) brightness(97%) contrast(95%);
        }

#in:hover 
        {
        filter: invert(31%) sepia(33%) saturate(2440%) hue-rotate(289deg) brightness(96%) contrast(97%);
        }

#wp:hover 
        {    
        filter: invert(63%) sepia(94%) saturate(412%) hue-rotate(86deg) brightness(92%) contrast(87%);
        }


