.aboutcss{
   .onama
{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
section
{
    height: 400px;
    width: 650px;
    font-size: 20px;
    align-items: center;;
}
.divonama
{
    padding-top: 75px;
}
img
{
    height:500px; 
    width: 450px;
}
main
{
    margin-bottom: 20px;
} 
}
