.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
}
body {
    background-image: url(../Slike/images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
  }
main{
    background-color: rgba(0, 0, 0, 0.766);
    border-radius: 65px;
    color: white;
    margin-inline: 25px;
  }
.popularne_kategorije{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size:x-large;
}
.popularne_kategorije{ 
    text-decoration: none;
    width: 100%;
    height: 100px;
    
}
.popularne_kategorije a, .popularne_kategorije
{
    color: plum;
}
.blog p
{
    margin-inline: 10px;
    text-align: justify;
    line-height: 35px;
}
.newsletter
{
    margin-left: 15px;
}

.newsletter p
{
    padding-bottom: 15px;
}

.popularni_proizvodi{
    display: flex;
    justify-content: space-around;
    width: 100%;  
}
.popularni_proizvodi a section{
    margin: 10px;
}
.popularni_proizvodi img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

.popularni_proizvodi .klikkup {
    height: 25px;
    width: 25px;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%); 
}
.blog img{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}
.blog{
    display: flex;
    justify-content:space-around;
}
.blog section{
    width: 100%;
    font-size: x-large;
}
.slika1 {
    float: left;
    margin: 20px;
}
.slika2 {
    float: right;
    margin: 20px;
}
.newsletter button {
    height: 34px;
    width: 40px;
}
.newsletter input {
    height: 30px;
    width: 200px;
}
.nlala {
    border-radius: 30px;
} 

.interni_proizvod, h3, a  
{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1080px) {
    .popularne_kategorije {
        font-size: large;
        height: 80px;
    }

    h2 {
        font-size: larger;
    }
    
    .blog {
        font-size: medium;
    }

    .blog section img {
        float: none;
        display: block;
        text-align: center;
        height: 150px;
        width: 250px;
        margin: 0 auto;
    }
    
    .blog section:nth-of-type(2) img {
        float: none;
        display: block;
        margin: 0 auto;
        height: 120px;
    }

    .blog img:hover {
        height: 160px;
        width: 260px;
        transition: 0.1s linear all;
        filter: brightness(115%);
    }
    
    .blog section:nth-of-type(2) img:hover {
        height: 130px;
        width: 260px;
        transition: 0.1s linear all;
    }
}

@media screen and (max-width: 850px) {
    .bling, .blinger {
        display: none;
    }

    .popularne_kategorije {
        font-size: small;
        height: 40px;
    }

    .popularni_proizvodi {
        font-size: small;
    }
    .popularni_proizvodi img {
        height: 150px;
        width: 150px;
    }

    section {
        width: 200px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog p {
        margin: 10px;
        line-height: 25px;
    }

    .newsletter {
        font-size: medium;
    }
}